.links{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    border: solid gray;
    padding: 2rem;
    border-radius: 0.5rem;
}
